head
    meta(charset='utf-8')
    title Robo Brain
    meta(name='description', content='Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version.')
    meta(name='viewport', content='width=1000, initial-scale=1.0, maximum-scale=1.0')
    link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='css/flat-ui.css', rel='stylesheet')
    link(href='css/demo.css', rel='stylesheet')
    link(href='css/robobrain.css', rel='stylesheet')
    link(rel='shortcut icon', href='images/favicon.ico')

    script(src='js/html5shiv.js')
    script(src='js/respond.min.js')
